html,body{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: gray;
    justify-content: center;
    align-items: center;
}
.card-login{
    color: white;
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    justify-content: center;
    height: 400px;
    width: 600px;
    border: none;
}
.card-login h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
.card-login label{
    margin-left: 58px;
}
.card-login input{
    margin: 0 auto;
    width: 80%;
    border: none;
    border-bottom: 2px whitesmoke solid;
    outline: none;
    background-color: transparent;
}
.card-login button{
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 7px;
    background-color: red;
    border: none;
    cursor: pointer;
}
.card-login a {
    color: white;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
}