<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homePG.css">
    <title>Home Page</title>
    <script defer src="/scripts/home.js"></script>
</head>
<body>
    <header>
        <h1>Bem-Vindo !</h1>
        <nav>
            <ul>
                <li><a href="/faq/">FAQ</a></li>
                <li><a href="/sobre/">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="imagens">
            <h2 id="msg">Fase do Dia: <span id="msg2"></span>  </h2>
            <p id="horaDia"></p>
            <div class="fts">
            </div>
        </section>
    </main>

    <footer>
        <h3>Feito por Douglas A. &copy;</h3>
        <nav>
            <ul>
                <li><a href="#">instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>