<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homePG.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>Bem-Vindo !</h1>
        <nav>
            <ul>
                <li><a href="/faq/">FAQ</a></li>
                <li><a href="/sobre/">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="imagens">
            <h2 id="msg">Fase do Dia: <span id="msg2"></span>  </h2>
            <p id="horaDia"></p>
            <div class="fts">
            </div>
        </section>
    </main>

    <footer>
        <h3>Feito por Douglas A. &copy;</h3>
        <nav>
            <ul>
                <li><a href="#">instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </nav>
    </footer>

    <script>
        function imgDia(){

            let dataHora = new Date();

            let hora = dataHora.getHours()
            let minuto = dataHora.getMinutes()
            let segundo = dataHora.getSeconds()

            let p = document.getElementById('horaDia');
            let msg = document.querySelector('#msg');
            let img = document.querySelector('.fts');
            let pMsg2 = document.getElementById('msg2');

            
            p.textContent =  `${hora}:${minuto}:${segundo}` ;
            
            if(hora >=6 && hora <12){
                img.style.backgroundImage = 'url(/dia)';
                pMsg2.textContent = 'Manhã'
            }else if(hora >=13 && hora <18){
                img.style.backgroundImage = 'url(/tarde)';
                pMsg2.textContent = 'Tarde'
            }else{
                img.style.backgroundImage = 'url(/noite)';
                pMsg2.textContent = 'Noite'
            }
            
        }
        setInterval(imgDia, 100);

        imgDia();
    </script>

</body>
</html>